<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href={% static "images/icons/favicon.png" %}/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/bootstrap/css/bootstrap.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/iconic/css/material-design-iconic-font.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/linearicons-v1.0.0/icon-font.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/animate/animate.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/css-hamburgers/hamburgers.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/animsition/css/animsition.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/select2/select2.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "css/util.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
<!--===============================================================================================-->
<script type="text/javascript" src={% static "js/qna.js" %}></script>
<title>내질문내역</title>
</head>
<body>
    <!-- Header -->
    {% include 'qna/top.html' %}

    <!-- Breadcrumb -->
    <div class="container">
        <div class="bread-crumb">
            <a href="#">Home</a> &gt;
            <a href="#">My Page</a> &gt;
            <span>My QnA</span>
        </div>
    </div>

    <!-- Content Page -->
    <section>
        <div class="container">
            <div class="row">
                <!-- Main Content -->
                <div class="col-md-8 col-lg-9">
                    <h3>My Page</h3>
                    <hr>
                    <h3>My QnA</h3>
                    <a href="../qnaWrite">작성하기 〉</a>
                    <table>
                        <thead>
                            <tr>
                                <th>등록일</th>
                                <th>제목</th>
                                <th>처리상태</th>
                                <th>삭제하기</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if not page_obj.object_list %}
                                <tr>
                                    <td colspan="4">작성한 문의가 없습니다</td>
                                </tr>
                            {% else %}
                                {% for qna in page_obj.object_list %}
                                    <tr>
                                        <td>{{ qna.qna_date }}</td>
                                        <td><a href="../qnaDetail">{{ qna.qna_title }}</a></td>
                                        <td>{{ qna.qna_state }}</td>
                                        <td><a href="../qnaDelete">삭제</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; 처음</a>
                                <a href="?page={{ page_obj.previous_page_number }}">이전</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">다음</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">끝 &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>

                <!-- Sidebar -->
                {% include 'qna/sidebar.html' %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include 'qna/bottom.html' %}

    <!-- Back to top -->
    <div class="btn-back-to-top">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

<!--===============================================================================================-->
	<script src={% static "vendor/jquery/jquery-3.2.1.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/animsition/js/animsition.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/bootstrap/js/popper.js" %}></script>
	<script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/select2/select2.min.js" %}></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src={% static "vendor/MagnificPopup/jquery.magnific-popup.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/perfect-scrollbar/perfect-scrollbar.min.js" %}></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src={% static "js/main.js" %}></script>
</body>
</html>