<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href={% static "images/icons/favicon.png" %}/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/bootstrap/css/bootstrap.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/iconic/css/material-design-iconic-font.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/linearicons-v1.0.0/icon-font.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/animate/animate.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/css-hamburgers/hamburgers.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/animsition/css/animsition.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/select2/select2.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "css/util.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
<!--===============================================================================================-->
<script type="text/javascript" src={% static "js/qna.js" %}></script>
<title>내질문내역</title>
</head>
<body class="animsition">
	
	<!-- header -->
	<div style="height:124px">
		{% include 'top.html' %}
	</div>

	<!-- breadcrumb -->
	<input type="hidden" value="My Page" id="page1" name="page1">
	<input type="hidden" value="My QnA" id="page2" name="page2">
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="main.do" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<a href="mypage.do" class="stext-109 cl8 hov-cl1 trans-04">
				My Page
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<span class="stext-109 cl4">
				My QnA
			</span>
		</div>
	</div>

	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<!-- 본문 -->
				<div class="col-md-8 col-lg-9 p-b-80 order-md-2">
					<div class="p-r-45 p-r-0-lg">
						<div class="wrap-pic-w how-pos5-parent"></div>
						<!-- 문의리스트 -->
						<div class="con content">
							<div class="title">
								<h3>My Page</h3>
								<hr style="border: 1px solid black;">
							</div>
							<div class="title">
								<h3>My QnA</h3>
								<a href="../qnaWrite" class="btn type01">작성하기 〉</a>
							</div>
							<table class="mp_table type01">
								<colgroup>
									<col width="150">
									<col width="550">
									<col width="150">
									<col width="150">
								</colgroup>
								<tbody>
									<tr>
										<th class="line">등록일</th>
										<th class="line">제목</th>
										<th class="line">처리상태</th>
										<th class="bLine line">삭제하기</th>
									</tr>
										{% if not page_obj.object_list %}
											<tr>
												<td class="center" colspan="4">작성한 문의가 없습니다</td>
											</tr>
										{% else %}
											{% for qna in page_obj.object_list %}
												<tr>
													<td class="center bLine">{{qna.qna_date|date:"Y년 n월 j일"}}</td>
													<td class="center bLine"><a href="../qnaDetail/{{qna.qna_id}}/" class="blue">{{qna.qna_title}}</a></td>
													<td class="money center bLine" style="color:#da4445;">{{qna.qna_state}}</td>
													<td class="center bLine">
														<button class="button">
															<a href="../qnaDelete/{{qna.qna_id}}/" style="color: inherit;">삭제</a>
														</button>
													</td>
												</tr>
											{% endfor %}
										{% endif %}
								</tbody>
							</table>
						</div>
						<!-- /문의리스트 -->
					</div>
					<!-- Pagination -->
					<div class="pagination flex-c-m flex-w w-full p-t-38">
						{% comment %} <div style="margin: 5px; display: flex; align-items: center;">
							{% if page_obj.has_previous %}
							<a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?page=1"><<</a>
							<a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?page={{ page_obj.previous_page_number }}"><</a>
							{% endif %}
						</div> {% endcomment %}
						<div style="margin: 5px; display: flex; align-items: center;">
							{% for page in page_obj.paginator.page_range %}
							{# 현재 페이지 번호를 포함해서 5개씩만 페이지 번호를 표시 #}
								{% if page >= page_obj.number|add:'-2' and page <= page_obj.number|add:'2' %}
								<span class="{% if page == page_obj.number %}current{% endif %}">
									<a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?page={{ page }}">{{ page }}</a>
								</span>
								{# 현재페이지 기준 2페이지만 보여주고 나머지 페이지는 다음블럭에서 보여주기 #}
								{% elif page >= page_obj.number|add:'-3' and page <= page_obj.number|add:'3' %}
									..
								{% endif %}
							{% endfor %}
						</div>
						{% comment %} <div style="margin: 5px; display: flex; align-items: center;">
							{% if page_obj.has_next %}
							   <a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?page={{ page_obj.next_page_number }}">></a>
							   <a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?page={{ page_obj.paginator.num_pages }}">>></a>
							{% endif %}
						 </div> {% endcomment %}
					</div>
					<!-- /Pagination -->
					 <!-- Pagination -->
					 {% comment %} <div class="flex-c-m flex-w w-full p-t-38" style="justify-content: center;">
						<div style="margin: 5px; display: flex; align-items: center;">
						   {% if page_obj.has_previous %}
							  <a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?pageNum=1"><<</a>
							  <a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?pageNum={{ page_obj.previous_page_number }}"><</a>
						   {% endif %}
						</div>
						<div style="margin: 5px; display: flex; align-items: center;">
						   {% for page in page_obj.paginator.page_range %}
							  {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
								 <span class="{% if page == page_obj.number %}current{% endif %}">
									<a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?pageNum={{ page }}">{{ page }}</a>
								 </span>
							  {% elif page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
								 ..
							  {% endif %}
						   {% endfor %}
						</div>
						<div style="margin: 5px; display: flex; align-items: center;">
						   {% if news.has_next %}
							  <a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?pageNum={{ page_obj.next_page_number }}">></a>
							  <a class="flex-c-m how-pagination1 trans-04 m-all-7" href="?pageNum={{ page_obj.paginator.num_pages }}">>></a>
						   {% endif %}
						</div>
					</div> {% endcomment %}
				</div>
				<!-- /본문 -->
				
				<!-- 사이드바 -->
				{% include 'qna/sidebar.html' %}
				<!-- /사이드바 -->
				
			</div>
		</div>
	</section>	

	<!-- Footer -->
	{% include 'bottom.html' %}
	<!-- /Footer -->

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->
	<script src={% static "vendor/jquery/jquery-3.2.1.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/animsition/js/animsition.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/bootstrap/js/popper.js" %}></script>
	<script src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/select2/select2.min.js" %}></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src={% static "vendor/MagnificPopup/jquery.magnific-popup.min.js" %}></script>
<!--===============================================================================================-->
	<script src={% static "vendor/perfect-scrollbar/perfect-scrollbar.min.js" %}></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src={% static "js/main.js" %}></script>
</body>
</html>